*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
.wrapper{
    max-width: 100%;
    width: 80%;
    padding-left: 80px;
}

ul{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.navbut ul li{
    display: flex;
    padding-left: 100px;
    font-family:"Libre Baskerville";
}
.navbut ul li a{
    background-color: #E6CAC1;
}
.big-wrap{
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #FFDED4;
}
.big-wrap h1{
    margin-bottom: 65px;
    font-size: 90px;
}
.wrapper2 img{
    height: 100%;
    width: 50vw;
    justify-content: right;
    object-fit:cover;
    object-position: 65%;
}
h1{
    font-family: "Libre Baskerville";
    font-style: italic;
}
body{
    display: flex;
    flex-direction: row;
}
.spacer{
    padding-top: 10px;
    padding-bottom: 10px;
}
p{  
    position:relative;
    font-family: "Libre Baskerville";
    font-size: 20px;
}

